@import "src/theme/theme-variables";

.inline-loader {
    display: inline-block;
}

.renew-password-container,
.mat-form-field {
    width: 100%;
}

.renew-password-container {
    margin: 1.5rem 0;
}

.renew-password-error {
    color: mat-color($app-warn);
}
