<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
    <div fxHide.gt-sm fxLayoutAlign="start center">
        <button class="sidenav-button" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="title">{{ title }}</span>
    </div>
    <div fxHide.lt-md>
        <a class="brand" routerLink="/">Planarlens</a>
    </div>
    <span fxFlex></span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <div *ngIf="isLoggedIn; then loggedInMenu else notLoggedInMenu"></div>
        <ng-template #loggedInMenu>
            <mat-list>
                <mat-list-item>
                    {{ username }}
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>Logout
            </button>
        </ng-template>
        <ng-template #notLoggedInMenu>
            <button mat-menu-item routerLink="/login" routerLinkActive="active" [queryParams]="{redirect: currentUrl}">
                <mat-icon>exit_to_app</mat-icon>Login
            </button>
            <button mat-menu-item routerLink="/sign-up" routerLinkActive="active"
                [queryParams]="{redirect: currentUrl}">
                <mat-icon>perm_identity</mat-icon>Sign Up
            </button>
        </ng-template>
    </mat-menu>
</mat-toolbar>