<div class="create-cube-container mat-typography" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="create-cube-box">
        <form (ngSubmit)="createCube()" [formGroup]="createCubeForm" novalidate>
            <div fxLayout="column">
                <mat-form-field>
                    <input type="text" matInput formControlName="name" placeholder="Name" required />
                    <mat-error *ngIf="createCubeForm.get('name').hasError('required')">
                        <span>Name is required</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput formControlName="description" placeholder="Description" matAutosize
                        matTextareaAutosize matAutosizeMinRows=3 matAutosizeMaxRows=6></textarea>
                </mat-form-field>
                <!-- Setup as a hidden HTML5 file input that is called by an Angular Material button because the type isn't supported by Angular Material. -->
                <input #file type="file" [hidden]="true" (change)="onFileChange(file.files)" accept=".txt" />
                <button type="button" mat-stroked-button (click)="file.click()">Upload card list</button>
                <mat-form-field>
                    <textarea matInput formControlName="cards" placeholder="Cards" matAutosize matTextareaAutosize
                        matAutosizeMinRows=6 matAutosizeMaxRows=12></textarea>
                    <mat-error *ngIf="createCubeForm.get('cards').hasError('fileSize')">
                        <span>File size is too large (max allowed is 50 KB)</span>
                    </mat-error>
                </mat-form-field>
                <br />
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="createCubeForm.invalid || isLoading">
                    <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
                    <span>Create</span>
                </button>
            </div>
        </form>
    </mat-card>
</div>